# Variáveis de ambiente

x-environment-vars: &env-vars
  INFLUXDB_DB: 'dados_sensor' # Nome do banco de dados (bucket)
  INFLUXDB_ORG: 'ufsm_iot'     # Nome da Organização
  # USAMOS O MESMO TOKEN DE ADMINISTRAÇÃO USADO NA INICIALIZAÇÃO DO INFLUXDB
  INFLUXDB_TOKEN: 'rT4pQ9zB6uX3cE1fJ7mD2kH5vL8nG0yY4wW7sR2oT0iA9eU8gP6tK3hJ1uZ5vD0xY9bW4rQ7cE' 
  INFLUXDB_USER: 'admin_iot'  # Usuário inicial

services:
  # 1. Broker MQTT (Mosquitto)
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto-broker
    restart: unless-stopped
    ports:
      - "1883:1883" # Porta padrão para MQTT
      - "9001:9001" # Porta para WebSockets
    volumes:
# CORREÇÃO: Mapeia o arquivo de configuração para a raiz temporária
      - ./mosquitto.conf:/tmp/mosquitto.conf 
      - mosquitto_data:/mosquitto/data
    
    # FORÇA O MOSQUITTO A USAR O ARQUIVO NO NOVO LOCAL (/tmp)
    command: /bin/sh -c "mosquitto -c /tmp/mosquitto.conf -v"
    networks:
      - iot-network

  # 2. Banco de Dados (InfluxDB)
  influxdb:
    image: influxdb:2.7
    container_name: influxdb-tsdb
    restart: unless-stopped
    ports:
      - "8086:8086" # Porta padrão da API do InfluxDB
    volumes:
      - ./data-influxdb:/var/lib/influxdb2 # Persistência dos dados
    environment:
      # Configuração inicial do InfluxDB 2.x
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: 'admin_iot'
      DOCKER_INFLUXDB_INIT_PASSWORD: 'Q2t.5hE7bM%pX0jN#'
      DOCKER_INFLUXDB_INIT_ORG: 'ufsm_iot'
      DOCKER_INFLUXDB_INIT_BUCKET: 'dados_sensor'
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: 'rT4pQ9zB6uX3cE1fJ7mD2kH5vL8nG0yY4wW7sR2oT0iA9eU8gP6tK3hJ1uZ5vD0xY9bW4rQ7cE'
      DOCKER_INFLUXDB_INIT_RETENTION: 0 # 0 = sem limite de retenção
    networks:
      - iot-network

  # 3. Lógica de Processamento (Node-RED)
  nodered:
    image: nodered/node-red:latest
    container_name: nodered-logic
    restart: unless-stopped
    ports:
      - "1880:1880" # Porta de acesso ao Node-RED (via browser)
    volumes:
      - ./data-nodered:/data # Persistência dos fluxos
    environment:
      # APLICA AS VARIAVEIS DE CONEXÃO DO INFLUXDB AQUI
      <<: *env-vars 
      INFLUXDB_HOST: 'http://influxdb:8086' # Conexão interna
      TZ: America/Sao_Paulo
    networks:
      - iot-network
    depends_on:
      - mosquitto
      - influxdb

  # 4. Visualização (Grafana)
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana-dashboards
    restart: unless-stopped
    ports:
      - "3000:3000" # Porta de acesso ao Grafana (via browser)
    volumes:
      - ./data-grafana:/var/lib/grafana # Persistência dos dashboards
    environment:
      # Credenciais padrão para login inicial: admin/admin
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: 'Q2t&5hE7bM%pX0jN'
      TZ: America/Sao_Paulo
    networks:
      - iot-network
    depends_on:
      - influxdb

volumes:
  mosquitto_data:

# Definição de rede interna do Docker para os containers se comunicarem
networks:
  iot-network:
    driver: bridge 